name: CI
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v3.5.0
        with:
          node-version: "12"
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Lint
        run: "npm run lint"
      - name: Test downloading Giant Swarm binary
        uses: ./
        with:
          binary: "devctl"
          version: "2.0.0"
      - name: Test downloading external binary
        uses: ./
        with:
          binary: "semver"
          version: "3.0.0"
          download_url: "https://github.com/fsaintjacques/${binary}-tool/archive/${version}.tar.gz"
          tarball_binary_path: "*/src/${binary}"
          smoke_test: "${binary} --version"
